<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
</head>
<body>
    <form action="{:url('addProductsAction')}" method="post">
        商品名称:<input type="text" name="name" id="name" /><br/>
        商品说明:<input type="text" name="description" id="description" /><br/>
        商品颜色:<input type="text" name="color" id="color" /><br/>
        商品价格:<input type="text" name="price" id="price" /><br/>
        商品时间:<input type="text" name="publishon" id="publishon" /><br/>
        商品类别:
        <select name="Classification_id" id="Classification">
            {volist name="Classification" id="Classification"}
            <option value="{$Classification->getData('id')}">{$Classification->getData('name')}</option>
            {/volist}
        </select><br/>
        <button type="submit">添加</button>
    </form>
</body>
</html>